.swiper-container {
    height: 670px;
}
.swiper-slide img {
   width: 100%;
   height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slick-slide img {
    display: block;
    height: 250px;
    width: 100%;
}
.slick-prev,.slick-next.slick-arrow {
    background: #fff;
    color: aquamarine;
    border: 1px solid aquamarine;
    padding: 5px;
    text-decoration: none;
    outline: none;
    display: none;
}
.slick-slider {
    display: flex;
    align-items: center;
}
.slick-slide {
    padding: 10px;
    pointer-events: none;
}
.slick-prev {
    margin-right: 10px;
}
.slick-next {
    margin-left: 10px;
}
